<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card card1" >
                <div class="card-body">
                  <h5 class="card-title">Nombre de projets</h5>
                  <h6 class="card-subtitle mb-2 text-muted">projets privés</h6>
                  <h1 class="card-text" >44,000</h1>
               
                </div>
              </div>
            <div class="card card1" >
                <div class="card-body1">
                 <app-stacked-chart></app-stacked-chart>
                </div>
              </div>
            <div class="card card1" >
                <div class="card-body1">
                  <app-line-chart></app-line-chart>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card cardmiddle">
              <div id="mapWrap" style="width: 100%; height: 400px">
                <div
                  id="mapPrev"
                  class="mapPrev"
                  style="width: 100%; height: 400px"
                ></div>
              </div>
            </div>
            <div class="card cardmiddle">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="card card2">
                <app-pie-chart></app-pie-chart>
            </div>
            <div class="card card2">
                <app-baree-chart></app-baree-chart>
            </div>
            
        </div>
    </div>
</div>

<div id="popup" class="ol-popup">
  <a href="javascript: void(0);" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div>