#main11{
    height: 25vh;
    width:auto
}
#chart-container{
    height: 40vh;
    width:auto
}

#chart-containerbig{
    height: 40vh;
    width:auto
}
#chart-containerbaree{
    height: 40vh;
    width:auto
}

.card1{
    margin-top: 10px;
    box-shadow: -10px 10px 10px grey;
    padding: 2px;
}
.card2{
    margin-top: 10px;
    box-shadow: 10px 10px 10px grey;
    padding: 2px;
}


.cardmiddle{
    margin-top: 10px;
    box-shadow: 0px 0px 30px grey;
 
}

nav{
    box-shadow: 0px 0px 10px grey;
}




.node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: white;
  }
  
  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  
  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }




  /* 
   */


   .ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    width: fit-content;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    background-color: red;
    border-radius: 10px;
    width: 23px;
    text-decoration: none;
    position: absolute;
    top: 7px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }


  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 8px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 3px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 10px;
    text-align: left;
    background-color: #3FA796;
    color: white;
  }



  .localisationDiv_section {
    display: block;
    margin: 10px auto auto 10px;
    width:fit-content
    
  }
  .myButton_section:hover{
    background-color: rgb(0, 60, 136, 1);
  }
  .myButton_section {
    margin-left: 2px;
    margin-top: 60px;
    background-color:rgba(22, 85, 167, 0.6);
    box-shadow: 2px 2px 0px white;
    color: white;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    border: none;
    align-items: center;
    /* margin-top: 5px; */
  }
  
  .myButton_section.clicked{
    background-color: rgba(22, 170, 35, 0.8);
  }
  
  .myButton_section.clicked:hover{
  background-color: rgba(22, 170, 35, 1);
  }

  .localisationDiv_split {
    display: block;
    margin: 10px auto auto 10px;
    width:fit-content
    
  }
  .myButton_split:hover{
    background-color: rgb(0, 60, 136, 1);
  }
  .myButton_split {
    margin-left: 2px;
    margin-top: 5px;
    background-color:rgba(22, 85, 167, 0.6);
    box-shadow: 2px 2px 0px white;
    color: white;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    border: none;
    align-items: center;
    /* margin-top: 5px; */
  }
  
  .myButton_split.clicked{
    background-color: rgba(22, 170, 35, 0.8);
  }
  
  .myButton_split.clicked:hover{
  background-color: rgba(22, 170, 35, 1);
  }


  .localisationDiv_edit {
    display: block;
    margin: 10px auto auto 10px;
    width:fit-content
    
  }
  .myButton_edit:hover{
    background-color: rgb(0, 60, 136, 1);
  }
  .myButton_edit {
    margin-left: 2px;
    margin-top: 5px;
    background-color:rgba(22, 85, 167, 0.6);
    box-shadow: 2px 2px 0px white;
    color: white;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    border: none;
    align-items: center;
    /* margin-top: 5px; */
  }
  
  .myButton_edit.clicked{
    background-color: rgba(22, 170, 35, 0.8);
  }
  
  .myButton_edit.clicked:hover{
  background-color: rgba(22, 170, 35, 1);
  }


  /*  */

  .localisationDiv_addtask {
    display: block;
    margin: 10px auto auto 10px;
    width:fit-content
    
  }
  .myButton_addtask:hover{
    background-color: rgb(0, 60, 136, 1);
  }
  .myButton_addtask {
    margin-left: 2px;
    margin-top: 5px;
    background-color:rgba(22, 85, 167, 0.6);
    box-shadow: 2px 2px 0px white;
    color: white;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    border: none;
    align-items: center;
    /* margin-top: 5px; */
  }
  
  .myButton_addtask.clicked{
    background-color: rgba(22, 170, 35, 0.8);
  }
  
  .myButton_addtask.clicked:hover{
  background-color: rgba(22, 170, 35, 1);
  }
  /*  */

  .localisationDiv_pert {
    display: block;
    margin: 10px auto auto 10px;
    width:fit-content
    
  }
  .myButton_pert:hover{
    background-color: rgb(0, 60, 136, 1);
  }
  .myButton_pert {
    margin-left: 2px;
    margin-top: 5px;
    background-color:rgba(22, 85, 167, 0.6);
    box-shadow: 2px 2px 0px white;
    color: white;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    border: none;
    align-items: center;
    /* margin-top: 5px; */
  }
  
  .myButton_pert.clicked{
    background-color: rgba(22, 170, 35, 0.8);
  }
  
  .myButton_pert.clicked:hover{
  background-color: rgba(22, 170, 35, 1);
  }






  /*  */
  div.anychart-credits {
    display: none;
}

div.chart-container {
  height: 300px;
}


.cdk-overlay-container {
  position: absolute  ;
  z-index: 100500;
}
